body {background-color: black;
      color: white;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Seoge UI', Roboto, sans-serif;
     }
.tekst-srodek {
  text-align: center;
}
.tekst-ramka {
      border: 2px solid #333333;
      padding: 15px;
      border-radius: 15px;
}
